$green: #28E7A8;
$brown: #373737;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

.bg-green{
    background-color:$green;
}
.bg-brown{
    background-color:$brown;
}
.green{
    color:$green;
}
.brown{
    color:$brown;
}